//公共样式定义

//输入框
.x-input-inner {
    width: 1.8rem;
    height: 0.3rem;
    padding: 0 0.15rem;
    font-size: 0.14rem;
    outline: none;
    border-radius: 0.05rem;
    color: #606264;
    border: 1px solid #dcdfe6;
    transition: all 0.2s ease;

    &:focus {
        border: 1px solid #53a8ff;
    }

    &::placeholder {
        color: #c0c4cc;
    }
}

//日期选择器
.date-picker-container {
    position: absolute;
    z-index: 999;
    overflow: hidden;
    width: 3.24rem;
    height: max-content;
    font-size: 0.16rem;
    font-weight: 400;
    color: #606266;
    box-shadow: 0 0.02rem 0.12rem 0 rgba(0, 0, 0, 0.1);
    user-select: none;
    background-color: #fff;

    .picker-year {
        margin: 0.12rem;
        display: flex;
        height: 0.3rem;
        justify-content: space-between;
        align-items: center;
        font-size: 0.16rem;

        .picker-year-left-box {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .picker-year-right-box {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .common-toggle-date-btn {
            padding: 0 0.1rem;
            width: 100%;
            height: 100%;
            cursor: pointer;

            & > svg {
                width: 0.1rem;
                height: 0.1rem;
                fill: #606266;
                transition: all 0.3s ease;

                &:hover {
                    fill: #409eff;
                }
            }
        }
    }

    .date-container {
        margin: 0.15rem;

        .picker-week {
            display: flex;
            font-size: 0.12rem;
            border-bottom: 0.01rem solid #ebeef5;

            .picker-week-item {
                flex: 1;
                padding: 0.05rem;
                width: 0.31rem;
                height: 0.31rem;
                text-align: center;
            }
        }

        .picker-days {
            display: flex;
            flex-wrap: wrap;
            font-size: 0.12rem;

            .picker-days-item {
                padding: 0.03rem 0;
                flex: 0 0 14.2857%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &:hover {
                    color: #409eff;
                }

                .item-content {
                    width: 0.24rem;
                    height: 0.24rem;
                    text-align: center;
                    line-height: 0.24rem;
                    transition: all ease 0.3s;
                }
            }
        }
    }

    .current-date {
        color: #409eff;
    }

    .prev-month,
    .next-month {
        color: #c0c4cc;
    }
}

//switch标签
//.x-switch {
//    position: relative;
//    display: flex;
//    align-items: center;
//    width: 1.4rem;
//    height: 0.3rem;
//    border-radius: 0.1rem;
//    overflow: hidden;
//    cursor: pointer;
//
//    .x-switch-core {
//        position: relative;
//        width: 1.4rem;
//        height: 0.3rem;
//        background-color: #fff;
//        transition: background-color 0.2s linear;
//        border: 0.01rem solid #dbdbdb;
//        border-radius: 1rem;
//
//        .x-switch-button {
//            color: #333;
//            font-size: 0.12rem;
//            position: absolute;
//            top: 50%;
//            left: 0;
//            transform: translate(0%, -50%);
//            width: 0.7rem;
//            height: 0.3rem;
//            background-color: #ffbd39;
//            border-radius: 0.5rem;
//            transition: left 0.2s linear;
//            line-height: 0.3rem;
//            text-align: center;
//        }
//    }
//
//    .is-check {
//        //background-color: #ffbd39;
//        transition: all 0.3s ease;
//        //border-color: #ffbd39;
//
//        .x-switch-button {
//            left: 0.7rem;
//            transform: translate(0%, -50%);
//            //background-color: #fff;
//        }
//    }
//}


//表格头部
.x-table-list {
    padding: 0.1rem;

    .x-header-wrap {
        padding: 0.1rem 0;
        display: flex;

        //表格头部
        .x-item-header {
            flex: 1;
            text-align: center;
            font-size: 0.18rem;
            font-weight: 500;
        }
    }

    //表格内容
    .x-list {
        font-size: 0.14rem;
        //每一个项
        .x-item {
            padding: 0.08rem 0;
            display: flex;

            //单数设置背景颜色
            &:nth-child(odd) {
                background-color: #FAFAFA;
            }

            //每一个项中的内容
            .x-item-content {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                flex: 1;
                text-align: center;
            }
        }
    }

}

//月份选择器
.x-month-picker-wrapper {
    z-index: 99999;
    background-color: #fff;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 3.22rem;
    height: 2.48rem;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 20%);
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;

    .x-month-picker-header {
        display: flex;
        justify-content: space-between;
        margin: 0.12rem 0.12rem 0 0.12rem;
        padding-bottom: 0.12rem;
        text-align: center;
        border-bottom: 1px solid #ebeef5;
        color: #606226;

        .x-month-year-wrap{
            flex: 1;
            padding: 0.06rem 0;
        }

        .x-month-prev-year {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .x-month-next-year {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .common-toggle-date-btn {
            padding: 0 0.1rem;
            width: 0.3rem;
            height: 100%;
            cursor: pointer;
            & > svg {
                width: 0.1rem;
                height: 0.1rem;
                fill: #606266;
                transition: all 0.3s ease;
                &:hover {
                    fill: #409eff;
                }
            }
        }
    }

    .x-month-picker-body {
        padding: 0.12rem;
        flex: 1;
        display: flex;
        flex-wrap: wrap;

        .x-month-picker-item {
            display:flex;
            flex: 0 0 25%;
            padding: 8px 0;
            span{
                display:flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                margin: 0 0.07rem;
                cursor: pointer;&:hover{
                color: #409eff;
                transition: all 0.2s ease;
            }
            }
        }
    }
}

//对话框
.x-dialog-mask {
    display:none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
    background-color: rgba(0, 0, 0, .2);

    .x-dialog-wrap {
        border-radius: 0.05rem;
        overflow: hidden;
        position: absolute;
        left: 50%;
        top: 2rem;
        transform: translate(-50%, -0%);
        width: 8rem;
        height: max-content;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

        .x-dialog-header {
            position: relative;
            user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            -moz-user-select: none;
            background-color: #fcb14f;

            .x-dialog-title {
                padding: 0.1rem 0;
                font-size: 0.2rem;
                text-align: center;
                color: #fff;
                //color: #303133;
            }

            .x-dialog-close-btn {
                position: absolute;
                right: 0.15rem;
                top: 0.05rem;
                //color: #93969c;
                color: #fff;
                cursor: pointer;
                width: 0.26rem;
                height: 0.26rem;
                transition: all 0.3s ease;

                svg {
                    width: 0.26rem;
                    height: 0.26rem;

                    &:hover {
                        //color: #4da4ff;
                        color: #fff;
                    }
                }
            }
        }

        .x-dialog-body {
            padding: 0.11rem;
            min-height: 3rem;
            max-height: 4rem;
            overflow-y: hidden;

            &:hover {
                overflow-y: scroll;
                padding-right: 0.05rem;
            }

            &::-webkit-scrollbar {
                width: 0.06rem;
                height: 0.01rem;
                border-radius: 0.06rem;
                background-color: rgba(87, 186, 232, .1);
            }

            /*正常情况下滑块的样式*/
            &::-webkit-scrollbar-thumb {
                border-radius: 0.1rem;
                background-color: rgba(252, 177, 79, 0.5);
            }

            .indicator-calculation-formula-desc, .indicator-reference-use {
                padding: 0.1rem;
                width: 100%;
                border-radius: 0.05rem;
                border: 0.01rem solid #888;
                .desc-title{
                    padding: 0.05rem 0;
                    text-align: center;
                    font-weight: 700;
                    font-size: 0.18rem;
                }

                p {
                    span {
                        font-weight: 700;
                    }
                }
            }

            .indicator-reference-use {
                margin-top: 0.2rem;

                p {
                    span {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
