* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 0.16rem;
  color: #333; }

#app {
  padding: 0 0.1rem;
  background-color: #f6f8fa; }
  #app .header {
    width: 100%;
    height: 0.6rem;
    background-color: #fa5b4d;
    font-size: 0.18rem; }
  #app .breadcrumb {
    padding: 0.1rem 0;
    font-size: 0.16rem; }
  #app .select-info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0.6rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.1rem; }
    #app .select-info-row .select-info-left {
      display: flex; }
      #app .select-info-row .select-info-left .time-select-wrap {
        display: flex;
        justify-content: center;
        align-items: center; }
        #app .select-info-row .select-info-left .time-select-wrap .time-txt {
          padding: 0 0.1rem;
          font-size: 0.16rem; }
        #app .select-info-row .select-info-left .time-select-wrap .x-input-inner {
          margin-left: 0.2rem; }
      #app .select-info-row .select-info-left .grade-select-wrap {
        margin-left: 1.8rem; }
        #app .select-info-row .select-info-left .grade-select-wrap .grade-select {
          padding: 0 0.05rem;
          margin-left: 0.2rem;
          width: 1.2rem;
          height: 0.3rem;
          outline: none;
          border: 0.01rem solid #dcdfe6; }
    #app .select-info-row .select-info-right .export-and-desc-wrap {
      padding-right: 0.2rem;
      font-size: 0.14rem; }
      #app .select-info-row .select-info-right .export-and-desc-wrap .indicator-desc, #app .select-info-row .select-info-right .export-and-desc-wrap .export-file-btn {
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        color: #169bdd; }
        #app .select-info-row .select-info-right .export-and-desc-wrap .indicator-desc:hover, #app .select-info-row .select-info-right .export-and-desc-wrap .export-file-btn:hover {
          color: #00a3f8; }
      #app .select-info-row .select-info-right .export-and-desc-wrap .export-file-btn {
        margin-top: 0.05rem; }
  #app .container {
    padding: 0 0.15rem; }
    #app .container .info-category-list {
      margin-top: 0.2rem;
      display: flex;
      width: 100%;
      height: max-content; }
      #app .container .info-category-list .info-cate-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border: 0.01rem solid #eee; }
        #app .container .info-category-list .info-cate-item .item-title {
          padding: 0.05rem 0;
          font-size: 0.25rem;
          font-weight: 500;
          text-align: center; }
        #app .container .info-category-list .info-cate-item .item-body {
          flex: 1;
          display: flex;
          justify-content: center;
          text-align: center; }
          #app .container .info-category-list .info-cate-item .item-body .body-num {
            font-size: 0.48rem;
            font-weight: 700; }
          #app .container .info-category-list .info-cate-item .item-body .proportion-wrap {
            display: flex;
            padding-bottom: 0.15rem;
            margin-left: 0.1rem;
            align-items: flex-end; }
            #app .container .info-category-list .info-cate-item .item-body .proportion-wrap .proportion-img {
              width: 0.23rem;
              height: 0.17rem; }
              #app .container .info-category-list .info-cate-item .item-body .proportion-wrap .proportion-img img {
                width: 100%;
                height: 100%; }
            #app .container .info-category-list .info-cate-item .item-body .proportion-wrap .proportion-num {
              margin-left: 0.05rem; }
            #app .container .info-category-list .info-cate-item .item-body .proportion-wrap .proportion-num-up {
              color: #44d754; }
            #app .container .info-category-list .info-cate-item .item-body .proportion-wrap .proportion-num-down {
              color: #f84260; }
    #app .container .general-info {
      padding: 0 0 0.2rem 0;
      display: flex;
      justify-content: space-between;
      margin-top: 0.2rem; }
      #app .container .general-info .common-info-column {
        width: 7rem;
        height: max-content; }
        #app .container .general-info .common-info-column.info-column-three {
          width: 4rem; }
      #app .container .general-info .average-student-info {
        display: flex;
        flex-direction: column; }
        #app .container .general-info .average-student-info .common-student-info {
          flex: 1;
          height: 4rem;
          display: flex;
          flex-direction: column;
          margin: 0.05rem 0;
          background-color: #fff; }
          #app .container .general-info .average-student-info .common-student-info .common-student-info-header {
            position: relative; }
            #app .container .general-info .average-student-info .common-student-info .common-student-info-header .common-info-title {
              padding: 5px 0;
              font-size: 0.28rem;
              text-align: center; }
            #app .container .general-info .average-student-info .common-student-info .common-student-info-header .toggle-time {
              display: flex;
              user-select: none;
              -webkit-user-select: none;
              -ms-user-select: none;
              -moz-user-select: none;
              position: absolute;
              right: 0.1rem;
              top: 50%;
              transform: translateY(-50%);
              height: 0.26rem;
              border-radius: 2px;
              border: 1px solid #eee;
              line-height: 0.26rem;
              cursor: pointer;
              text-align: center; }
              #app .container .general-info .average-student-info .common-student-info .common-student-info-header .toggle-time .toggle-item {
                padding: 0 0.05rem;
                width: 0.8rem;
                height: 100%;
                font-size: 0.13rem; }
              #app .container .general-info .average-student-info .common-student-info .common-student-info-header .toggle-time .active-toggle-item {
                background-color: #7cb5ec;
                color: #fff; }
        #app .container .general-info .average-student-info .readings-per-student {
          width: 100%; }
          #app .container .general-info .average-student-info .readings-per-student .readings-per-student-charts1 {
            flex: 1;
            width: 7rem;
            min-height: 2rem; }
        #app .container .general-info .average-student-info .exam-times {
          margin-top: 0.2rem;
          width: 100%;
          height: 4rem; }
          #app .container .general-info .average-student-info .exam-times .exam-times-charts {
            flex: 1;
            width: 100%;
            height: 100%; }
        #app .container .general-info .average-student-info .readings-per-student-tab {
          margin-top: 0.2rem; }
          #app .container .general-info .average-student-info .readings-per-student-tab .x-table-list {
            padding: 0.1rem; }
            #app .container .general-info .average-student-info .readings-per-student-tab .x-table-list .x-header-wrap {
              padding: 0.1rem 0;
              display: flex; }
              #app .container .general-info .average-student-info .readings-per-student-tab .x-table-list .x-header-wrap .x-item-header {
                flex: 1;
                text-align: center;
                font-size: 0.18rem;
                font-weight: 500; }
            #app .container .general-info .average-student-info .readings-per-student-tab .x-table-list .x-list {
              font-size: 0.14rem; }
              #app .container .general-info .average-student-info .readings-per-student-tab .x-table-list .x-list .x-item {
                padding: 0.08rem 0;
                display: flex; }
                #app .container .general-info .average-student-info .readings-per-student-tab .x-table-list .x-list .x-item:nth-child(odd) {
                  background-color: #FAFAFA; }
                #app .container .general-info .average-student-info .readings-per-student-tab .x-table-list .x-list .x-item .x-item-content {
                  flex: 1;
                  text-align: center; }
