* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 0.16rem;
    font-family: "Microsoft Yahei", "PingFang SC", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    color: #333;
}

#app {
    padding: 0 0.1rem;
    background-color: #f6f8fa;
    //顶部  占位用  可删除
    .header {
        width: 100%;
        height: 0.6rem;
        background-color: #fa5b4d;
        font-size: 0.18rem;
    }

    //面包屑
    .breadcrumb {
        padding: 0.1rem 0;
        font-size: 0.16rem;
    }

    //选择内容  行
    .select-info-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 0.6rem;
        width: 100%;
        background-color: #fff;
        border-radius: 0.1rem;

        //左侧盒子
        .select-info-left {
            display: flex;

            //时间选择器
            .time-select-wrap {
                display: flex;
                justify-content: center;
                align-items: center;

                .time-txt {
                    padding: 0 0.1rem;
                    font-size: 0.16rem;
                }

                .x-input-inner {
                    margin-left: 0.2rem;
                }

            }

            //年级选择器
            .grade-select-wrap {
                margin-left: 1.8rem;

                //年级选择器
                .grade-select {
                    padding: 0 0.05rem;
                    margin-left: 0.2rem;
                    width: 1.2rem;
                    height: 0.3rem;
                    outline: none;
                    border: 0.01rem solid #dcdfe6;
                }


            }
        }

        //右侧盒子
        .select-info-right {
            //background-color: deeppink;

            //导出与说明
            .export-and-desc-wrap {
                padding-right: 0.2rem;
                font-size: 0.14rem;

                //说明 和导出按钮公共类
                .indicator-desc, .export-file-btn {
                    cursor: pointer;
                    user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    -webkit-user-select: none;
                    color: #169bdd;

                    &:hover {
                        color: #00a3f8;
                    }
                }

                //说明
                .indicator-desc {

                }

                //导出按钮
                .export-file-btn {
                    margin-top: 0.05rem;
                }
            }
        }

    }

    //主要内容部分
    .container {
        padding: 0 0.15rem;
        //    分类统计信息
        .info-category-list {
            margin-top: 0.2rem;
            display: flex;
            width: 100%;
            height: max-content;
            box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);


            //每一个项目
            .info-cate-item {
                flex: 1;
                display: flex;
                flex-direction: column;
                background-color: #fff;
                border-top: 0.01rem solid #eee;
                border-left: 0.01rem solid #eee;
                border-bottom: 0.01rem solid #eee;

                &:nth-last-child(1) {
                    border-right: 0.01rem solid #eee;
                }

                //标题
                .item-title {
                    padding: 0.05rem 0;
                    font-size: 0.25rem;
                    font-weight: 500;
                    text-align: center;
                }

                //    具体内容
                .item-body {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    text-align: center;

                    //具体数值
                    .body-num {
                        font-size: 0.48rem;
                        font-weight: 700;
                    }

                    .proportion-wrap {
                        display: flex;
                        padding-bottom: 0.15rem;
                        margin-left: 0.1rem;
                        align-items: flex-end;

                        .proportion-img {
                            width: 0.23rem;
                            height: 0.17rem;

                            img {
                                width: 100%;
                                height: 100%
                            }
                        }

                        .proportion-num {
                            margin-left: 0.05rem;
                        }

                        .proportion-num-up {
                            color: #44d754;
                        }

                        .proportion-num-down {
                            color: #f84260;
                        }
                    }
                }

            }

        }

        //综合信息
        .general-info {
            padding: 0 0 0.2rem 0;
            display: flex;
            justify-content: space-between;
            margin-top: 0.2rem;

            //公共类名 每一列宽度定义
            .common-info-column {
                width: 7rem;
                height: max-content;

                //最后一列单独修改宽度
                &.info-column-three {
                    width: 4rem;
                }

                //公共  生均信息
                .common-info-wrap {
                    flex: 1;
                    height: 4rem;
                    display: flex;
                    flex-direction: column;
                    //margin: 0.05rem 0;
                    background-color: #fff;
                    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
                    //头部标签
                    .common-info-wrap-header {
                        position: relative;
                        //标题
                        .common-info-title {
                            padding: 0.05rem 0;
                            font-size: 0.28rem;
                            text-align: center;
                        }

                        .toggle-time {
                            display: flex;
                            user-select: none;
                            -webkit-user-select: none;
                            -ms-user-select: none;
                            -moz-user-select: none;
                            position: absolute;
                            right: 0.1rem;
                            top: 50%;
                            transform: translateY(-50%);
                            //width: 1.4rem;
                            height: 0.26rem;
                            //background-color: red;
                            border-radius: 0.02rem;
                            border: 0.01rem solid #eee;
                            line-height: 0.26rem;
                            cursor: pointer;
                            text-align: center;

                            .toggle-item {
                                padding: 0 0.05rem;
                                width: 0.8rem;
                                height: 100%;
                                font-size: 0.13rem;
                            }

                            .active-toggle-item {
                                background-color: #7cb5ec;
                                color: #fff;
                            }
                        }
                    }

                }
            }

            //生均信息
            .average-student-info {
                display: flex;
                flex-direction: column;

                //生均阅读量走势图
                .readings-per-student {
                    width: 100%;

                    //.readings-per-student-charts1 {
                    //    flex: 1;
                    //}
                }

                //考级次数走势图
                .exam-times {
                    margin-top: 0.2rem;
                    width: 100%;
                    //.exam-times-charts {
                    //    flex: 1;
                    //}
                }

                //生均阅读数据表
                .readings-per-student-tab {
                    margin-top: 0.2rem;

                    .reading-student-list {
                        width: 6.8rem;
                        height: 1.4rem;
                    }
                }
            }

            // 阅读信息
            .reading-activity {
                display: flex;
                flex-direction: column;

                //一百二十天数据
                .reading-activity-last-120-days {
                    margin-top: 0.2rem;
                }

                //阅读活动
                .reading-activity-tab, .reading-task-tab {
                    margin-top: 0.2rem;
                }

                .reading-task-tab {
                    .reading-task-list {
                        width: 6.8rem;
                        height: 1.4rem;
                    }
                }
            }

            //热力信息
            .common-activity-list {

                //每一个活动
                .common-activity-item {
                    background-color: #fff;
                    box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1);
                    //活动标题
                    .activity-hot-list-title {
                        padding: 0.05rem 0;
                        font-size: 0.28rem;
                        text-align: center;
                        border-bottom: 0.01rem solid #e0dddd;
                    }
                }

                .activity-hot-wrap {
                    .activity-hot-list {
                        width: 3.8rem;
                        height: 1.75rem;
                    }
                }


                .monthly-test-wrap, .school-ranking-wrap {
                    margin-top: 0.2rem;
                }

                .school-ranking-wrap {
                    .school-ranking-list {
                        width: 3.8rem;
                        height: 3.5rem;
                    }
                }

            }
        }
    }
}

//没有数据时候显示的内容
.x-no-data {
    padding: 0.05rem 0.2rem;
    font-size: 0.16rem;
    color: #999;
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}


