* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-size: 0.16rem;
  font-family: "Microsoft Yahei", "PingFang SC", "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  color: #333; }

#app {
  padding: 0 0.1rem;
  background-color: #f6f8fa; }
  #app .header {
    width: 100%;
    height: 0.6rem;
    background-color: #fa5b4d;
    font-size: 0.18rem; }
  #app .breadcrumb {
    padding: 0.1rem 0;
    font-size: 0.16rem; }
  #app .select-info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0.6rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.1rem; }
    #app .select-info-row .select-info-left {
      display: flex; }
      #app .select-info-row .select-info-left .time-select-wrap {
        display: flex;
        justify-content: center;
        align-items: center; }
        #app .select-info-row .select-info-left .time-select-wrap .time-txt {
          padding: 0 0.1rem;
          font-size: 0.16rem; }
        #app .select-info-row .select-info-left .time-select-wrap .x-input-inner {
          margin-left: 0.2rem; }
      #app .select-info-row .select-info-left .grade-select-wrap {
        margin-left: 1.8rem; }
        #app .select-info-row .select-info-left .grade-select-wrap .grade-select {
          padding: 0 0.05rem;
          margin-left: 0.2rem;
          width: 1.2rem;
          height: 0.3rem;
          outline: none;
          border: 0.01rem solid #dcdfe6; }
    #app .select-info-row .select-info-right .export-and-desc-wrap {
      padding-right: 0.2rem;
      font-size: 0.14rem; }
      #app .select-info-row .select-info-right .export-and-desc-wrap .indicator-desc, #app .select-info-row .select-info-right .export-and-desc-wrap .export-file-btn {
        cursor: pointer;
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        color: #169bdd; }
        #app .select-info-row .select-info-right .export-and-desc-wrap .indicator-desc:hover, #app .select-info-row .select-info-right .export-and-desc-wrap .export-file-btn:hover {
          color: #00a3f8; }
      #app .select-info-row .select-info-right .export-and-desc-wrap .export-file-btn {
        margin-top: 0.05rem; }
  #app .container {
    padding: 0 0.15rem; }
    #app .container .info-category-list {
      margin-top: 0.2rem;
      display: flex;
      width: 100%;
      height: max-content;
      box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1); }
      #app .container .info-category-list .info-cate-item {
        flex: 1;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-top: 0.01rem solid #eee;
        border-left: 0.01rem solid #eee;
        border-bottom: 0.01rem solid #eee; }
        #app .container .info-category-list .info-cate-item:nth-last-child(1) {
          border-right: 0.01rem solid #eee; }
        #app .container .info-category-list .info-cate-item .item-title {
          padding: 0.05rem 0;
          font-size: 0.25rem;
          font-weight: 500;
          text-align: center; }
        #app .container .info-category-list .info-cate-item .item-body {
          flex: 1;
          display: flex;
          justify-content: center;
          text-align: center; }
          #app .container .info-category-list .info-cate-item .item-body .body-num {
            font-size: 0.48rem;
            font-weight: 700; }
          #app .container .info-category-list .info-cate-item .item-body .proportion-wrap {
            display: flex;
            padding-bottom: 0.15rem;
            margin-left: 0.1rem;
            align-items: flex-end; }
            #app .container .info-category-list .info-cate-item .item-body .proportion-wrap .proportion-img {
              width: 0.23rem;
              height: 0.17rem; }
              #app .container .info-category-list .info-cate-item .item-body .proportion-wrap .proportion-img img {
                width: 100%;
                height: 100%; }
            #app .container .info-category-list .info-cate-item .item-body .proportion-wrap .proportion-num {
              margin-left: 0.05rem; }
            #app .container .info-category-list .info-cate-item .item-body .proportion-wrap .proportion-num-up {
              color: #44d754; }
            #app .container .info-category-list .info-cate-item .item-body .proportion-wrap .proportion-num-down {
              color: #f84260; }
    #app .container .general-info {
      padding: 0 0 0.2rem 0;
      display: flex;
      justify-content: space-between;
      margin-top: 0.2rem; }
      #app .container .general-info .common-info-column {
        width: 7rem;
        height: max-content; }
        #app .container .general-info .common-info-column.info-column-three {
          width: 4rem; }
        #app .container .general-info .common-info-column .common-info-wrap {
          flex: 1;
          height: 4rem;
          display: flex;
          flex-direction: column;
          background-color: #fff;
          box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1); }
          #app .container .general-info .common-info-column .common-info-wrap .common-info-wrap-header {
            position: relative; }
            #app .container .general-info .common-info-column .common-info-wrap .common-info-wrap-header .common-info-title {
              padding: 0.05rem 0;
              font-size: 0.28rem;
              text-align: center; }
            #app .container .general-info .common-info-column .common-info-wrap .common-info-wrap-header .toggle-time {
              display: flex;
              user-select: none;
              -webkit-user-select: none;
              -ms-user-select: none;
              -moz-user-select: none;
              position: absolute;
              right: 0.1rem;
              top: 50%;
              transform: translateY(-50%);
              height: 0.26rem;
              border-radius: 0.02rem;
              border: 0.01rem solid #eee;
              line-height: 0.26rem;
              cursor: pointer;
              text-align: center; }
              #app .container .general-info .common-info-column .common-info-wrap .common-info-wrap-header .toggle-time .toggle-item {
                padding: 0 0.05rem;
                width: 0.8rem;
                height: 100%;
                font-size: 0.13rem; }
              #app .container .general-info .common-info-column .common-info-wrap .common-info-wrap-header .toggle-time .active-toggle-item {
                background-color: #7cb5ec;
                color: #fff; }
      #app .container .general-info .average-student-info {
        display: flex;
        flex-direction: column; }
        #app .container .general-info .average-student-info .readings-per-student {
          width: 100%; }
        #app .container .general-info .average-student-info .exam-times {
          margin-top: 0.2rem;
          width: 100%; }
        #app .container .general-info .average-student-info .readings-per-student-tab {
          margin-top: 0.2rem; }
          #app .container .general-info .average-student-info .readings-per-student-tab .reading-student-list {
            width: 6.8rem;
            height: 1.4rem; }
      #app .container .general-info .reading-activity {
        display: flex;
        flex-direction: column; }
        #app .container .general-info .reading-activity .reading-activity-last-120-days {
          margin-top: 0.2rem; }
        #app .container .general-info .reading-activity .reading-activity-tab, #app .container .general-info .reading-activity .reading-task-tab {
          margin-top: 0.2rem; }
        #app .container .general-info .reading-activity .reading-task-tab .reading-task-list, #app .container .general-info .reading-activity .reading-task-tab .reading-activity-list {
          width: 6.8rem;
          height: 1.4rem; }
      #app .container .general-info .common-activity-list .common-activity-item {
        background-color: #fff;
        box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.1); }
        #app .container .general-info .common-activity-list .common-activity-item .activity-hot-list-title {
          padding: 0.05rem 0;
          font-size: 0.28rem;
          text-align: center;
          border-bottom: 0.01rem solid #e0dddd; }
      #app .container .general-info .common-activity-list .activity-hot-wrap .activity-hot-list {
        width: 3.8rem;
        height: 1.75rem; }
      #app .container .general-info .common-activity-list .monthly-test-wrap, #app .container .general-info .common-activity-list .school-ranking-wrap {
        margin-top: 0.2rem; }
      #app .container .general-info .common-activity-list .school-ranking-wrap .school-ranking-list {
        width: 3.8rem;
        height: 3.5rem; }

.x-no-data {
  padding: 0.05rem 0.2rem;
  font-size: 0.16rem;
  color: #999;
  text-align: center;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }
